:root {
  color-scheme: light !important;
   --tg-theme-text-color: #000000 !important;
   --tg-theme-button-color:#000000 !important;
}

body {
  background-color: #ffffff !important;
  color: #000000 !important;
}

*{
  margin: 0;
  padding: 0;
  border:none;
}

a{
  text-decoration: none;
  color:black;
}

html{
  font-family: 'Montserrat', 'sans-serif';
  box-sizing: border-box;
  display: block;
  max-width: 420px;
  margin-inline: auto;
  padding: 5px;
  background-color: #ffffff;
  color: #200f07;
  
}

.tabbar{
  display: block;
  max-width: 400px;
  margin-inline: auto;
}
:root {
    --icon-filter: none;
}


@media (prefers-color-scheme: dark) {
    .event__city img,
    .event__price img,
    .event__date img {
        filter: brightness(0) invert(1);
    }
}




:root {
  --tg-theme-accent-text-color: #000000 !important;
  --tg-theme-button-color: #000000 !important;
  --tg-theme-link-color: #000000 !important;
  --tg-theme-section-header-text-color: #000000 !important;
}


.tgui-6a12827a138e8827 {
  --tgui--accent_text_color: #000000 !important;
  --tgui--link_color: #000000 !important;
  --tgui--button_color: #000000 !important;
}





